.trigger-text-wrapper {
    cursor: pointer;
    margin-top: 1rem;
}

.trigger-text {
    margin-left: 1rem;
}

.type-dropdown-wrapper {
    width: 100%;
}

.type-dropdown-margin {
    margin-bottom: 1rem;
}

.input-fields-margin-between-add-post-taskview {
    margin-top: 1rem;
}

    .input-fields-margin-between-add-post-taskview button:first-child {
        width: 11.8rem;
    }

.joined-project-text-area-taskview {
    height: auto;
    width: 97.5%;
    overflow-wrap: break-word;
    text-align: justify;
}

.project-title-taskview {
    font-weight: 700;
    text-align: justify;
    overflow-wrap: break-word;
    width: 94.5%;
}

.add-icon {
    margin-left: -4rem;
    padding: 0.5rem;
}

.icon-hover {
    cursor: pointer;
}

.input-label-space-between-taskview {
    margin-top: 0.3rem;
}

.join-project-app-name-container {
    padding-left: 0 !important;
    margin-bottom: 1rem;
}

.join-project-app-logo-container {
    width: 4rem;
    height: 4rem;
}

.join-project-dialog-container {
    width: 60rem !important;
    height: 60rem !important;
}

.join-project-dialog-body-taskview {
    padding: 0.5rem !important;
    height: 36rem !important;
    overflow: auto !important;
    width: 100%;
}

.left-spacing-teamsize-taskview {
    margin-left: 0rem;
}

.left-spacing-joined-taskview {
    margin-left: 0rem;
}

.info-icon {
    padding-top: 0.3rem;
    color: #6264A7;
}

.join-project-dialog-footer-taskview {
    width: 100%;
}

.joined-project-half-field-taskview {
    width: 28%;
    margin-right: -3rem !important;
}

.label-spacing-taskview {
    margin-top: 1.3rem;
}

@media only screen and (max-width: 650px) {
    .join-project-dialog-container {
        position: relative !important;
        width: 100% !important;
        height: 100% !important;
        padding: 1rem !important;
    }

    .ui-box {
        margin-bottom: 0 !important;
    }

    .join-project-dialog-body-taskview {
        padding: 5px !important;
        height: 100% !important;
        overflow: auto !important;
        padding-left: 3.1rem !important;
        padding-top: 2rem !important;
    }

    .join-project-dialog-footer-wrapper-taskview {
        position: relative;
        width: 95vw;
        bottom: 2rem;
    }

    .join-project-dialog-provider-wrapper-taskview {
        height: 50vh;
    }
}

.success-message {
    text-align: center;
    width: 80%;
    height: 10rem;
    position: absolute;
    top: 4rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 1.5rem;
    font-weight: 700;
}

.success-accept-icon
{
    color:white !important;
    width: 100%;
    height: auto;
}

.accept-icon {
    background-color: lawngreen !important;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    padding-left: 0.2rem;
    padding-top: 0.2rem;
}

.bold-value {
    font-weight: 700;
}

.content-width{
    width:70% !important;
}